{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "target": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
